# Environment & Dependencies
.venv/
node_modules/
__pycache__/
*.py[cod]

# Build Artifacts
dist/
build/
cdk.out/
.cdk.staging/

# Secrets
.env
*.key
*.pem

# Explicit Tracking
!pnpm-lock.yaml
!typescript/eslint.config.js
!**/__init__.py
